<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<contextName>Bookstore</contextName>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.chibamu.bookstore" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.chibamu.bookstore.dao" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.chibamu.bookstore.entity" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.chibamu.bookstore.service" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.chibamu.bookstore.controller" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>